<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConnectListSocDB"
         connectionString="Data Source=10.49.1.14;Initial Catalog=mfc_out;Persist Security Info=True;User ID=c3user;Password=12345"
          providerName="System.Data.SqlClient"/>
   
  </connectionStrings>
  
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="CountSelect" value="30"/>
    <add key="PathPriceData" value="/App_Data/PricePdfdata.xml"/>
    <add key="PathPriceListDul" value="/App_Data/ListDul.xml"/>
    <add key="PathAreaGorZhilServic" value="/App_Data/ListAreaGorZhilServic.xml"/>
    <add key="PathListMdou" value="/App_Data/ListMdou.xml"/>
    
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  
  <system.serviceModel>
    
    <behaviors>
      
      <endpointBehaviors>
        <behavior name="Basic"/>
        <behavior name="WebJson">
          <webHttp defaultOutgoingResponseFormat="Json" faultExceptionEnabled="true"/>
        </behavior>
        <behavior name="WebXml">
          <webHttp defaultOutgoingResponseFormat="Xml" faultExceptionEnabled="true"/>
        </behavior>
      </endpointBehaviors>
      
      <serviceBehaviors>
        <behavior>
          <!--Чтобы избежать раскрытия метаданных, до развертывания задайте следующим параметрам значение "false". -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- Чтобы при сбое получать подробные сведения об исключении для целей отладки, установите для нижеприведенного параметра значение true.  Перед развертыванием установите значение false, чтобы избежать раскрытия информации об исключении -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <!--Биндинг SOAP-->
      <basicHttpBinding>
        <binding name="Basic" closeTimeout="00:01:00" openTimeout="00:01:00"
                 receiveTimeout="00:20:00" sendTimeout="00:20:00" maxBufferPoolSize="524288000"
                 maxBufferSize="65536000" maxReceivedMessageSize="65536000">
          <readerQuotas maxDepth="65536000" maxStringContentLength="65536000"
                        maxArrayLength="65536000" maxBytesPerRead="65536000" maxNameTableCharCount="65536000" />
        </binding>
      </basicHttpBinding>
      <!--Биндинг JSON-->
      <webHttpBinding>
        <binding name="WebJson" closeTimeout="00:01:00" openTimeout="00:01:00"
                 receiveTimeout="00:20:00" sendTimeout="00:20:00" maxBufferSize="65536000"
                 maxBufferPoolSize="524288000" maxReceivedMessageSize="65536000">
          <readerQuotas maxDepth="65536000" maxStringContentLength="65536000"
                        maxArrayLength="65536000" maxBytesPerRead="65536000" maxNameTableCharCount="65536000" />
        </binding>
        <!--Биндинг XML-->
        <binding name="WebXML" closeTimeout="00:01:00" openTimeout="00:01:00"
                 receiveTimeout="00:20:00" sendTimeout="00:20:00" maxBufferSize="65536000"
                 maxBufferPoolSize="524288000" maxReceivedMessageSize="65536000">
          <readerQuotas maxDepth="65536000" maxStringContentLength="65536000"
                        maxArrayLength="65536000" maxBytesPerRead="65536000" maxNameTableCharCount="65536000" />
        </binding>
      </webHttpBinding>
    </bindings>


    <services>
      <!--Сервис запросов к сведениям из СоцЦентра--> 
      <service name="AisInfoService.ServList">
        <endpoint address="basic" binding="basicHttpBinding" 
                  behaviorConfiguration="Basic" 
                  bindingConfiguration="Basic" 
                  name="Basic" 
                  bindingNamespace="AisInform.mfc4900.ru" 
                  contract="AisInfoService.IServList"/>
        <endpoint address="json" binding="webHttpBinding"
                  behaviorConfiguration="WebJson"
                  bindingConfiguration="WebJson"
                  name="WebJson"
                   bindingNamespace="AisInform.mfc4900.ru"
                  contract="AisInfoService.IServList"
                  />
        <endpoint address="xml" binding="webHttpBinding"
                  behaviorConfiguration="WebXml"
                  bindingConfiguration="WebXML"
                  name="WebXML"
                   bindingNamespace="AisInform.mfc4900.ru"
                  contract="AisInfoService.IServList"/>
      </service>
      <!--Сервис формировния платежной квитанции-->
      <service name="AisInfoService.ServPrice">
        <endpoint address="basic" binding="basicHttpBinding"
                  behaviorConfiguration="Basic"
                  bindingConfiguration="Basic"
                  name="Basic"
                  bindingNamespace="AisInform.mfc4900.ru"
                  contract="AisInfoService.IServPrice"/>
        <endpoint address="json" binding="webHttpBinding"
                  behaviorConfiguration="WebJson"
                  bindingConfiguration="WebJson"
                  name="WebJson"
                   bindingNamespace="AisInform.mfc4900.ru"
                  contract="AisInfoService.IServPrice"
                  />
        <endpoint address="xml" binding="webHttpBinding"
                  behaviorConfiguration="WebXml"
                  bindingConfiguration="WebXML"
                  name="WebXML"
                   bindingNamespace="AisInform.mfc4900.ru"
                  contract="AisInfoService.IServPrice"/>
      </service>
      <!--Сервис запросов по дополнительной справочной информации-->
      <service name="AisInfoService.ServInfo">
        <endpoint address="basic" binding="basicHttpBinding"
                  behaviorConfiguration="Basic"
                  bindingConfiguration="Basic"
                  name="Basic"
                  bindingNamespace="AisInform.mfc4900.ru"
                  contract="AisInfoService.IServInfo"/>
        <endpoint address="json" binding="webHttpBinding"
                  behaviorConfiguration="WebJson"
                  bindingConfiguration="WebJson"
                  name="WebJson"
                   bindingNamespace="AisInform.mfc4900.ru"
                  contract="AisInfoService.IServInfo"
                  />
        <endpoint address="xml" binding="webHttpBinding"
                  behaviorConfiguration="WebXml"
                  bindingConfiguration="WebXML"
                  name="WebXML"
                   bindingNamespace="AisInform.mfc4900.ru"
                  contract="AisInfoService.IServInfo"/>
      </service>
      <!--Сервис запросов к базе знаний-->
      <service name="AisInfoService.ServKnowBase">
        <endpoint address="basic" binding="basicHttpBinding"
                  behaviorConfiguration="Basic"
                  bindingConfiguration="Basic"
                  name="Basic"
                  bindingNamespace="AisInform.mfc4900.ru"
                  contract="AisInfoService.IServKnowBase"/>
        <endpoint address="json" binding="webHttpBinding"
                  behaviorConfiguration="WebJson"
                  bindingConfiguration="WebJson"
                  name="WebJson"
                   bindingNamespace="AisInform.mfc4900.ru"
                  contract="AisInfoService.IServKnowBase"
                  />
        <endpoint address="xml" binding="webHttpBinding"
                  behaviorConfiguration="WebXml"
                  bindingConfiguration="WebXML"
                  name="WebXML"
                   bindingNamespace="AisInform.mfc4900.ru"
                  contract="AisInfoService.IServKnowBase"
                  />
      </service>
      
    </services>
    
    
    
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>  
    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Для просмотра корневого каталога веб-приложения во время отладки установите значение true.
        Перед развертыванием установите значение false, чтобы избежать раскрытия сведений в папке веб-приложения.
      -->
    
    <directoryBrowse enabled="true"/>
    
  </system.webServer>

</configuration>