<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>


  <appSettings>
    <add key="StrWeather" value="http://api.wunderground.com/api/9fd5b8fea794e554/conditions/lang:RU/q/Russia/Magadan.json"/>
    <add key="StrDataGov" value="http://data.gov.ru/api/json/dataset/7708660670-proizvcalendar/version/20151123T183036/content?access_token=77a8ff7daf13eb052a970db6665224f0"/>
    <add key="TimeOut" value="60000"/>
  </appSettings>
  <connectionStrings>
    <add name="DateBaseSQL" connectionString="Data Source = 10.49.1.14; Initial Catalog = AisInfoDB; Persist Security Info = True; User ID = c3user; Password = 12345" />
  </connectionStrings>
</configuration>